.flat-card {
    background-color: var(--secondary-color);
    border-radius: 0.75em;
    box-shadow: 11px 9px 9px -1px rgba(40, 40, 57, 0.15);
    -webkit-box-shadow: 11px 9px 9px -1px rgba(40, 40, 57, 0.15);
    -moz-box-shadow: 11px 9px 9px -1px rgba(40, 40, 57, 0.15);
    margin-right: 1em;
    margin-bottom: 1em;
    gap: 1em;
    padding: 1% 2%;
    cursor: pointer;
    transition: 0.5s linear;
}

.flat-card:hover {
    transform: scale(1.03);
    margin: 0.5em;
}

.icon-container {
    background-color: var(--fun-color);
    border-radius: 10%;
}

.icon {
    color: var(--primary-color)
}

.flat-card-title {
    font-size: 1vw
}

.flat-card-text {
    color: var(--primary-color);
    font-size: 1.5vw;
}